body {
  background-color: rgb(0, 0, 0);
}

.container {
  margin-top: 400px;
  justify-content: center;
  text-align: center;
}

#results-div {
  margin-top: 20px;
  color: rgb(196, 196, 196);
  font-size: 50px;
}